<html>
  <head>
    <title>CFN Deployment Admin</title>
    <meta name="decorator" content="atl.admin">
    
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    #include("templates/js.vm")
 
  </head>
  <body>
    <form id="admin" name="admin" class="aui" onSubmit="updateConfig(); return false;">
	  <div class="field-group">
	    <label for="vaultUrl">Vault URL:</label>
	    <input type="text" id="vaultUrl" name="vaultUrl" class="text">
	  </div>
	   
	  <div class="field-group">
	    <label for="vaultToken">Vault Token:</label>
	    <input type="text" id="vaultToken" name="vaultToken" class="text">
	  </div>
	   
	  <div class="field-group">
	    <label for="vaultKeyPath">AWS Key Path:</label>
	    <input type="text" id="vaultKeyPath" name="vaultKeyPath" class="text">
	  </div>
	   
	  <div class="field-group">
	    <input type="submit" value="Save" class="button">
	    <span id="savedMessage" style="display:none; font-weight:bold; color:#00AA33;">Saved</span>
	  </div>
	</form>
  </body>
</html>
