   <script>

// TODO: we haven't included error checking and we really should be escaping quotes and other special characters when creating our data, but that is left as an exercise for the reader.
function updateConfig() {
  AJS.$.ajax({
    url: AJS.contextPath() + "/rest/cfn-deployment/1.0/",
    type: "PUT",
    contentType: "application/json",
    data: '{ "vaultUrl": "' + AJS.$("#vaultUrl").attr("value") + '", "vaultToken": "' + AJS.$("#vaultToken").attr("value") + '", "vaultKeyPath": "' + AJS.$("#vaultKeyPath").attr("value") + '" }',
    processData: false
  }).success(function() {
  //alert('here');
    AJS.$("#savedMessage").show().delay(1000).fadeOut();
  });
}

(function ($) {
    // form the URL
    var url = AJS.contextPath() + "/rest/cfn-deployment/1.0/";

    $(document).ready(function() {
        // request the config information from the server
        $.ajax( {
            url: url,
            dataType: "json"
        } ).done(function(config) { // when the configuration is returned...
            // ...populate the form.
            $("#vaultUrl").val(config.vaultUrl);
			$("#vaultToken").val(config.vaultToken);
			$("#vaultKeyPath").val(config.vaultKeyPath);
			
			AJS.$("#admin").submit(function(e) {
		        e.preventDefault();
		        updateConfig();
		    });
		})
    });

})(AJS.$ || jQuery);
    
    </script>